<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Текущее значение счетчика</title>
</head>
<body>
<h1>Текущее значение счетчика</h1>
<a href="/">На главную</a>
<br>
<br>
{{ if eq . 0}}
    Данные не доступны
{{ else }}
<div style="font-weight: bold;">Показания счетчика: <span style="color: red;">{{ . }}</span></div>
{{ end }}
<br>
<a href="/add">Изменить счетчик</a>
</body>
</html>